@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: #1a1a1a;
    color: #f0f0f0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#game-container {
    width: 80%;
    max-width: 800px;
    height: 90vh;
    max-height: 600px;
    background-color: #242424;
    border: 2px solid #ff7f00;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(255, 127, 0, 0.6);
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hud-title {
    text-align: center;
    font-size: 2.3em;
    font-weight: 700;
    color: #ff7f00;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 15px;
}

.story-text {
    flex-grow: 1;
    overflow-y: auto;
    font-size: 1.15em;
    line-height: 1.7;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-right: 10px; /* Espaço para a barra de rolagem */
    white-space: pre-wrap; /* Mantém a formatação do texto */
    text-align: justify;
}
/* Estilizando a barra de rolagem */
.story-text::-webkit-scrollbar {
    width: 8px;
}
.story-text::-webkit-scrollbar-track {
    background: #2b2b2b;
    border-radius: 4px;
}
.story-text::-webkit-scrollbar-thumb {
    background-color: #ff7f00;
    border-radius: 4px;
    border: 2px solid #2b2b2b;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn, select, input {
    width: 100%;
    padding: 14px;
    background-color: #3c3c3c;
    border: 1px solid #ff9500;
    color: #f0f0f0;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-weight: 700;
}

.btn:hover {
    background-color: #ff7f00;
    color: #1a1a1a;
    box-shadow: 0 0 10px rgba(255, 127, 0, 0.7);
}

select, input {
    margin-bottom: 10px;
    font-weight: 400;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    color: #ffaa00;
    font-weight: 700;
}

#clan-description {
    font-size: 0.9em;
    font-style: italic;
    color: #ccc;
    margin-top: 5px;
    padding: 10px;
    border-left: 3px solid #ff7f00;
    background-color: rgba(0,0,0,0.1);
}